In [114]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [115]:
data = pd.read_csv("/content/train.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [116]:

data.select_dtypes("object").nunique().sort_values(ascending=False)

Neighborhood     25
Exterior2nd      16
Exterior1st      15
SaleType          9
Condition1        9
Condition2        8
HouseStyle        8
RoofMatl          8
Functional        7
BsmtFinType2      6
Heating           6
RoofStyle         6
SaleCondition     6
BsmtFinType1      6
GarageType        6
Foundation        6
Electrical        5
FireplaceQu       5
HeatingQC         5
GarageQual        5
GarageCond        5
MSZoning          5
LotConfig         5
ExterCond         5
BldgType          5
BsmtExposure      4
MiscFeature       4
Fence             4
LotShape          4
LandContour       4
BsmtCond          4
KitchenQual       4
MasVnrType        4
ExterQual         4
BsmtQual          4
LandSlope         3
GarageFinish      3
PavedDrive        3
PoolQC            3
Utilities         2
CentralAir        2
Street            2
Alley             2
dtype: int64

In [117]:
data.drop(columns=["Exterior2nd","Exterior1st","MSZoning","Street","Alley","LotShape","LandContour","LotConfig","LandSlope"],inplace=True)

In [118]:

data.select_dtypes("object").nunique().sort_values(ascending=False)

Neighborhood     25
Condition1        9
SaleType          9
Condition2        8
HouseStyle        8
RoofMatl          8
Functional        7
Heating           6
BsmtFinType1      6
GarageType        6
BsmtFinType2      6
SaleCondition     6
RoofStyle         6
Foundation        6
FireplaceQu       5
BldgType          5
ExterCond         5
HeatingQC         5
Electrical        5
GarageCond        5
GarageQual        5
MiscFeature       4
Fence             4
BsmtQual          4
BsmtCond          4
MasVnrType        4
KitchenQual       4
ExterQual         4
BsmtExposure      4
GarageFinish      3
PavedDrive        3
PoolQC            3
CentralAir        2
Utilities         2
dtype: int64

In [119]:
na=data.isna().sum().sort_values(ascending=False)
na[na>0]

PoolQC          1453
MiscFeature     1406
Fence           1179
FireplaceQu      690
LotFrontage      259
GarageFinish      81
GarageYrBlt       81
GarageType        81
GarageQual        81
GarageCond        81
BsmtFinType2      38
BsmtExposure      38
BsmtQual          37
BsmtCond          37
BsmtFinType1      37
MasVnrType         8
MasVnrArea         8
Electrical         1
dtype: int64

In [120]:
cat=data.select_dtypes("object")
[data[x].replace(np.nan, 'NA', inplace=True) for x in cat.columns]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [121]:
num_data=data.select_dtypes("int64")
[data[col].replace(np.nan,'0.0', inplace=True) for col in num_data]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [125]:
#data.drop("Id", axis = 1, inplace = True)
data.fillna(0) #for LotFrontage which is a float type

,MSSubClass,LotFrontage,LotArea,Utilities,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,65.0,8450,AllPub,CollgCr,Norm,Norm,1Fam,2Story,7,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,20,80.0,9600,AllPub,Veenker,Feedr,Norm,1Fam,1Story,6,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,60,68.0,11250,AllPub,CollgCr,Norm,Norm,1Fam,2Story,7,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,70,60.0,9550,AllPub,Crawfor,Norm,Norm,1Fam,2Story,7,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,60,84.0,14260,AllPub,NoRidge,Norm,Norm,1Fam,2Story,8,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,AllPub,Gilbert,Norm,Norm,1Fam,2Story,6,...,0,NA,NA,NA,0,8,2007,WD,Normal,175000
1456,20,85.0,13175,AllPub,NWAmes,Norm,Norm,1Fam,1Story,6,...,0,NA,MnPrv,NA,0,2,2010,WD,Normal,210000
1457,70,66.0,9042,AllPub,Crawfor,Norm,Norm,1Fam,2Story,7,...,0,NA,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,68.0,9717,AllPub,NAmes,Norm,Norm,1Fam,1Story,5,...,0,NA,NA,NA,0,4,2010,WD,Normal,142125
1459,20,75.0,9937,AllPub,Edwards,Norm,Norm,1Fam,1Story,5,...,0,NA,NA,NA,0,6,2008,WD,Normal,147500

In [123]:
data.isnull().sum()

MSSubClass         0
LotFrontage      259
LotArea            0
Utilities          0
Neighborhood       0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 71, dtype: int64

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeRegressor

X=data.drop(["SalePrice"],axis=1).fillna(0).select_dtypes(exclude='object')
Y=data["SalePrice"]
mod=DecisionTreeRegressor()
rfe = RFE(estimator=mod, n_features_to_select=20)
features=rfe.fit(X,Y)
Res = list(X.select_dtypes(exclude='object').columns[features.support_])
Res
Res.append("SalePrice")

In [126]:

# Example feature that can be added based on existing features
data["Age"]=(data["YrSold"]-data["YearBuilt"])

In [131]:
Res.remove("Age")

#Tentative Features selected:
print(Res)

['LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'GrLivArea', 'KitchenAbvGr', 'TotRmsAbvGrd', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'OpenPorchSF', 'MoSold', 'SalePrice', 'Age']